@import "tailwindcss";

/* 1. DEFINE VARIABLES GLOBALLY */
:root {
  --color-brand-primary: #30364F;
  --color-brand-hover: #1d4ed8;
  --color-brand-surface: #F8FAFC; 
  --color-card-bg: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #475569;
--color-border-subtle: #e2e8f0;
--color-card-left:#0f172a;
--color-card-right:#F8FAFC;
--color-card-background:#A9A9A9 ;
--color-card-title:#f8fafc;
 --color-card-title1:#f8fafc;
 --color-brand-firstlayer:#0f172a;
 --color-brand-name:#0f172a;
 --color-title-primary:#0f172a;
 --color-sign-in:#0f172a;
--color-brand-card:#f8fafc;
--color-text-modal:#0f172a;
--color-header-bg:#f8fafc;
}

/* 2. OVERRIDE THEM WHEN .dark IS ON <html> */
.dark {
  --color-brand-surface: #212529 !important;
  --color-card-bg:#212529!important;
  --color-text-main: #f8fafc !important;
  --color-text-muted: #94a3b8 !important;
  --color-border-subtle: #1e293b !important;
  --color-card-left:#0f172a !important;
  --color-card-background:#212529;
  --color-card-title:#212529 !important;
  --color-card-title1:#0f172a !important;
  --color-card-right:#1e293b !important;
   --color-sign-in:#f8fafc !important;
   --color-brand-card:#212529 !important;
   --color-text-modal:#0f172a !important;
   --color-header-bg:#212529 !important;

  
}

/* 3. TELL TAILWIND ABOUT THE VARIABLES */
@theme {
  --variant-dark: .dark &; 
  --color-brand-primary: var(--color-brand-primary);
  --color-brand-surface: var(--color-brand-surface);
  --color-card-bg: var(--color-card-bg);
}

/* 4. APPLY TO THE BODY */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-brand-surface);
  color: var(--color-text-main);
  transition: background-color 0.3s ease, color 0.3s ease;
}


 /* <p className="mt-3 text-lg max-w-2xl" style={{ color: 'var(--color-text-muted)' }}>
          {t('everything_you_need_to_land_your_dream_job...')}
        </p> */